.clear {
    clear: both;
}

.wc-orkesta-field {
    margin: 5px 0;
}

.orkesta-credit-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.orkesta-credit-cards img {
    height: 32px;
}

.orkesta-cards-copy {
    font-weight: 600;
    margin: 12px 0px 0px 0px;
}
